langchain-core
langgraph
pydantic
requests
flask
flask-cors
google-generativeai
python-dotenv
AppOpener
sentence-transformers
faiss-cpu
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
spotipy
numpy
psutil
langchain-ollama
langchain-groq
langchain-google-genai
playwright
